{% extends 'app/base.html' %} 

{% load static %}

{% block js %}


<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block contenido %}
<br>
<br>
<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/interface.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/bateria.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/guitarra.jpg' %}" alt="">
    </div>
</div>
{{ response }}
{% load humanize %}

<div>
    {% include "carro/widget.html" %}
</div>
<!-- CARRITO A LA IZQUIERDA
<div style="float: left;">
    div>
        {% include "carro/widget.html" %}
    </div>
</div>
-->
<h4 class="titulo">Destacados </h4>
<div class="container">
    <div class="productos row">
        
        {% for p in productos %}
        
        <div class="col-md-4 col-sm-6  producto">
            <div class="card">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen del producto">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-text">{{ p.marca | capfirst }}</h5>
              <h5 class="card-text cursiva">{{ p.nombre | title }}</h5> 
              <h5 class="card-title">${{ p.precio | intcomma }}</h5>  
                    <!--<form action="{{ response.url }}" method="POST"></form>
                <input type="hidden" name="precio" value="{{p.precio}}">
                <input type="hidden" name="token_ws" value="{{response.token}}">
                <input type="submit" value="COMPRAR">
              </form>-->
              <a href="{% url 'webpay' p.id%}" class="btn btn-primary">Comprar</a>
              <a href="{% url 'detalle' %}" class="btn btn-primary">Ver detalles</a>
              <a href="{% url 'agregar' p.id %}" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<br>
<br>

{% endblock %}